@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "burtons";
  src: url("C:/Users/gsmec/react_portfolio/public/Burtons.otf");
}

h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
